.container{
    max-width:50%;

}

main{
    max-height: 700px;
    box-sizing: border-box;
}

.btn{
    background-color: yellow;
    font-weight: bold;
}

a{
    text-decoration :none;
    color:black;

}

.dogWrapper{
    background-color: white;
    color:black;
}

body{
    background-color: white;
    color:black;
}

img{
    max-height: 85%;
}